* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}
::-webkit-scrollbar{
width: 5px;
}
::-webkit-scrollbar-thumb{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 500px #0f172a;
background-color: rgba(grey, 0.1);
}
::-webkit-scrollbar-track{
-webkit-box-shadow: inset 0 0 500px #333;
border-radius: 10px;
}
html{
height: 100%;
}
body{
width: 100%;
background: #0f172a;
color: #ccc;
min-height: 100%;
font-family: 'Segoe UI', sans-serif;
font-size: 18px;
transition: background-color .5s ease;
}
h2{text-align:center;
margin-top: 40px;
margin-bottom:40px;
}
a{
color: #ccc;
text-decoration: none;
font-weight: 100;
}
header{
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 20;
height:64px;
background: #0f172a;
box-shadow: 0 3px 6px 0 rgba(0,0,0,.6);
display: flex;
padding: 5px;
align-items: center;
justify-content: space-between;
}  
p, span{
font-weight: 100;  
}
.logo{
width: 240px;
height: 40px;
position:absolute;
top: -10px;
}
.container{
width: 100%;
max-width: 1100px;
margin: 0 auto;
padding: 10px;
position: relative;
}
.content-wrapper{
width: 100%;
}
.header__nav{
position: absolute;
right: 36px;
top: -2px;
display: block;
}
.header__menu{
display: flex;
position: relative;
z-index: 2;
}
.header__menu li{
list-style: none;
margin: 0px 0px 0px 36px;
color: #000;
font-size: 18px;
text-decoration: none;
}
.content-wrapper{
padding: 10px;	
padding-bottom: 30px;
line-height: 34px;
margin: 100px auto;
}
#cat{
pointer-events: none;	
filter: blur(80px) brightness(150);
opacity: 0.3;
zoom: 1.2;
}
.footer{
text-align: center;
width: 100%;
height: 30px;
margin-top: 220px;
}
@media(min-width: 780px){
.footer{
bottom: -80px;
}	
}	
@media(max-width: 767px){
.header__nav {
display: block;
position: absolute;
top: 55px;
left: 0;
background: #0f172a;
box-shadow: #ccc;
width: 100%;
box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
transition: all 0.4s ease;
left:-100%;
}
.header__menu{
display: block;
}
.header__nav.open-menu{
left:0;
}
.header__menu li{
margin: 40px 0px 40px 33px;
font-size: 14px;
}
.menu-burger__header{
position: relative;
width: 25px;
height: 35px;
display: block;
float: right;
}
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
height: 2px;
width: 110%;
position: absolute;
background: #ccc;
margin: 0 auto;
}
.menu-burger__header span{
top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
content: '';
}
.menu-burger__header:after{
bottom: 8px;
}
.menu-burger__header:before{
top: 8px;
}
.menu-burger__header.open-menu span{
opacity:0; 
transition: 0.5s; 
}
.menu-burger__header.open-menu:before{
transform: rotate(44deg);
top: 16px;
transition: 0.4s;
}
.menu-burger__header.open-menu:after{
transform: rotate(-44deg);
bottom: 16px;
transition: 0.4s;
}

header{
height: 60px;
}
.content-wrapper{
margin-top: 48px;
}
.fixed-pade{
overflow: hidden;
}
.logo{
top: 8px;
height: 40px;
}
}
